---
import Button from './Button.astro';
---

<section
  id="contact"
  class="text-gray-600 body-font relative py-[100px] pb-[150px]"
>
  <div class="flex flex-col gap-5 mx-auto">
    <div class="flex flex-col text-center w-full">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
      >
        Contact Us
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical
        gentrify.
      </p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto p-5 md:p-0">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative flex flex-col gap-2">
            <label for="name" class="leading-7 text-sm text-gray-600"
              >Name</label
            >
            <input
              type="text"
              id="name"
              name="name"
              class="bg-gray-300 bg-opacity-50 rounded border border-gray-300 focus:border-black focus:bg-white focus:ring-[1px] focus:ring-black focus:ring-opacity-50 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative flex flex-col gap-2">
            <label for="email" class="leading-7 text-sm text-gray-600"
              >Email</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="w-full bg-gray-300 bg-opacity-50 rounded border border-gray-300 focus:border-black focus:bg-white focus:ring-[1px] focus:ring-black focus:ring-opacity-50 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative flex flex-col gap-2">
            <label for="message" class="leading-7 text-sm text-gray-600"
              >Message</label
            >
            <textarea
              id="message"
              name="message"
              class="w-full text-sm bg-gray-300 bg-opacity-50 rounded border border-gray-300 focus:border-black focus:bg-white focus:ring-[1px] focus:ring-black focus:ring-opacity-50 h-[200px] outline-none text-gray-700 p-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
            ></textarea>
          </div>
        </div>
        <div class="w-full flex justify-center py-2">
          <Button class="px-10 py-2">Send</Button>
        </div>
      </div>
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 15"
    preserveAspectRatio="none"
    class="absolute bottom-[-1px] lg:w-full h-[25dvh]"
  >
    <path d="M0 15 Q 50 0 100 15 L 100 15 0 15 Z" class="fill-black"></path>
  </svg>
</section>
