---

---

<section
  class="flex flex-col items-center justify-center w-full min-h-dvh custom-bg-color"
>
  <div
    class="md:w-[650px] w-[90%] gap-6 flex flex-col items-center justify-center"
  >
    <h1 class="text-5xl font-semibold text-center work-animate">
      We Help Brands Increase Their Online Presence
    </h1>
    <p class="text-base font-light text-center work-animate">
      At Spark, we boost your brand's online visibility and engagement with
      tailored digital strategies. Let us help you attract new customers and
      grow your online presence effectively.
    </p>
    <div class="flex gap-4 flex-wrap justify-center">
      <button class="btnEffect work-animate work-animate">
        Real Estate Websites
        <img
          src="https://nexusinfo.in/wp-content/uploads/2024/04/1-1536x864.png"
          alt=""
        />
      </button>
      <button class="btnEffect work-animate">
        University/College Websites
        <img
          src="https://nexusinfo.in/wp-content/uploads/2024/04/5-1536x864.png"
          alt=""
        />
      </button>
      <button class="btnEffect work-animate">
        E-commerce Websites
        <img
          src="https://nexusinfo.in/wp-content/uploads/2024/04/4-1536x864.png"
          alt=""
        />
      </button>
      <button class="btnEffect work-animate">
        Portfolio Websites
        <img
          src="https://nexusinfo.in/wp-content/uploads/2024/04/3-1536x864.png"
          alt=""
        />
      </button>

      <button class="btnEffect work-animate">
        Healthcare Websites
        <img
          src="https://nexusinfo.in/wp-content/uploads/2024/04/2-1536x864.png"
          alt=""
        />
      </button>
      <button class="btnEffect work-animate">
        Educational Websites
        <img
          src="https://nexusinfo.in/wp-content/uploads/2024/06/Screenshot-2024-06-18-at-10.43.01%E2%80%AFAM-1536x867.png"
          alt=""
        />
      </button>
      <button class="btnEffect work-animate">
        Blogs/Personal Websites
        <img
          src="https://nexusinfo.in/wp-content/uploads/2024/06/Screenshot-2024-06-18-at-10.45.46%E2%80%AFAM-1536x826.png"
          alt=""
        />
      </button>
      <button class="btnEffect work-animate">
        News/Media Websites
        <img
          src="https://nexusinfo.in/wp-content/uploads/2024/06/Screenshot-2024-06-18-at-10.43.26%E2%80%AFAM-1536x867.png"
          alt=""
        />
      </button>
      <button class="btnEffect work-animate">
        Event Management Websites
        <img
          src="https://nexusinfo.in/wp-content/uploads/2024/06/Screenshot-2024-06-18-at-5.31.53%E2%80%AFPM-1536x826.png"
          alt=""
        />
      </button>
    </div>
  </div>
</section>
<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);
  gsap.from('.work-animate', {
    scrollTrigger: {
      trigger: '.work-animate',
      start: 'top bottom',
      end: 'bottom 40%',
    },
    translateY: 80,
    opacity: 0,
    duration: 0.5,
    scale: 1.2,
    stagger: 0.2,
  });
  const hoverEffectbtnEffect = document.querySelectorAll('.btnEffect');
  hoverEffectbtnEffect.forEach((btnEffect) => {
    btnEffect.addEventListener('mousemove', (e: any) => {
      const left = e?.clientX;
      const top = e?.clientY;
      const rect = e.target.getBoundingClientRect();

      const parentleft = rect.left; // Distance from the left edge of the viewport
      const parenttop = rect.top;

      e.target.children[0].style.left = left - parentleft + 6 + 'px';
      e.target.children[0].style.top = top - parenttop - 120 + 'px';
    });
    btnEffect.addEventListener('mouseover', (e) => {});
  });
</script>
<style>
  .btnEffect {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;

    position: relative;
    background: white;
    text-transform: capitalize;
    font-weight: semi-bold;
    border: none;
    display: block;
  }

  .btnEffect::before {
    content: '';
    display: block;
    border-radius: 30px;
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
  }
  .btnEffect:hover::before {
    border-color: black;
    transform: scale(0.96);
    transition: 0.3s;
  }
  .btnEffect > img {
    position: fixed;
    display: block;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0;
    z-index: 99999;
    pointer-events: none;
  }

  .btnEffect:nth-child(odd):hover > img {
    opacity: 1;

    transform: rotate(-10deg);
    transition:
      opacity 0.35s ease-in-out,
      transform 0.35s ease-in-out;
  }

  .btnEffect:nth-child(even):hover > img {
    opacity: 1;
    transform: rotate(10deg);
    transition:
      opacity 0.35s ease-in-out,
      transform 0.35s ease-in-out;
  }
</style>
